In [1]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [1]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [2]:
len('AB')

2

In [1]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [2]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [3]:
logs = ["dig1 8 1 5 1","let1 art can","dig2 3 6","let2 own kit dig","let3 art zero"]

In [4]:
alpha = []
nums = []
for i in logs:
    s = i.split(' ')
    if s[1][0].isdigit():
        nums.append(i)
    else:
        alpha.append((s[0],' '.join(j for j in s[1:])))

In [5]:
alpha

[('let1', 'art can'), ('let2', 'own kit dig'), ('let3', 'art zero')]

In [6]:
alpha.sort(key = lambda x: (x[1],x[0]))

In [7]:
alpha

[('let1', 'art can'), ('let3', 'art zero'), ('let2', 'own kit dig')]

In [8]:
nums

['dig1 8 1 5 1', 'dig2 3 6']

In [9]:
s

['let3', 'art', 'zero']

In [10]:
s[1]

'art'

In [11]:
s[0]

'let3'

In [12]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [13]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [15]:
str = "-";
seq = ("a", "b", "c"); # 字符串序列

In [16]:
str.join( seq )

'a-b-c'

In [17]:
str = "-";
seq = ["a", "b", "c"]; # 字符串序列

In [18]:
str.join( seq )

'a-b-c'

In [20]:
''.join(seq)

'abc'

In [21]:
' '.join(seq)

'a b c'

In [23]:
s = [[0,0],[1,1],[0,1]]

AttributeError: 'list' object has no attribute 'sum'

In [1]:
s = 'abc'
s[0:1]

'a'

In [4]:
from random import choice
s = [1,2,3,4,0,7,3,2]
choice(s)

1

In [5]:
s = '23'

In [6]:
int(s)

23

In [8]:
ord(s[0]) - ord('0')

2

In [9]:
num = 0 
for char in s:
    num = num * 10 + ord(char) - ord('0')

print(num)

23